{% extends "base.html" %}
{% block content %}
<div class="container">
  <form class="form-signin" id="form" action="/receive ">
   <h1 class="form-signin-heading">Hello, world!</h1>
   <label for="inputName" class="sr-only">Name</label>
   <input type="text" id="inputName" class="form-control" placeholder="Name" required="" autofocus="" name="name">
   <label for="inputAge" class="sr-only">Age</label>
   <input type="text" id="inputAge" class="form-control" placeholder="Age" required="" autofocus="" name="age">
   <button class="btn btn-lg btn-primary btn-block" id="fetchBtn" type="submit">Click to receive data</button>
  </form>
</div>
<div id="result"></div>
<script>
  $(document).on('ready', function() {
    $('#form').submit(function(event){
      event.preventDefault();
      var $form = $(this),
        name = $form.find("input[name='name']").val(),
        age = $form.find("input[name='age']").val(),
        url = $form.attr("action");
      var tbody = jQuery('#result');  
      //tbody.append('<div class="alert alert-success" role="alert" id="result">Your name is ' + this['firstname'].value + ', and you are ' + this['age'].value + ' years old</div>');  
      $.post(url, { name: name, age: age })
        .done(function(data){
          tbody.append('<div class="alert alert-success" role="alert" id="result">' + data + '</div>');
      })
    });
  });
</script>
{% endblock %}