{% extends "base.html" %}
{% block content %}
<div class="container">
  <h1>Hello, world!</h1>
  <button class="btn btn-lg btn-primary btn-block" id="fetchBtn">Click to receive data</button>
</div>
<div id="result"></div>
<script>
  $(document).on('ready', function() {
    $('#fetchBtn').click(function(event){
      var tbody = jQuery('#result');  
      //tbody.append('<div class="alert alert-success" role="alert" id="result">Your name is ' + this['firstname'].value + ', and you are ' + this['age'].value + ' years old</div>');  
      $.get('receive', function (data) {
                  tbody.append('<div class="alert alert-success" role="alert" id="result">' + data + '</div>');
                });
      return true;
    });
  });
</script>
{% endblock %}